@import '../../var.scss';

.header__filterBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.header {
  &__icon {
    margin-top: 10px;
    position: relative;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-right: 10px;
    padding: 10px 17px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &:last-child {
      margin-right: 0;
    }
    &--active {
      background-color: $primary;
      color: $primary-text; 
    }
    &:hover {
      background-color: $primary;
      color: $primary-text; 
    }
  }

}