@import '../../var.scss';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 35px 0 ;
  border-bottom: 2px solid $blue-border;
  z-index: 1000;
  background-color: $dark-bg;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    img:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }
  &__filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 332px;
  }

}