$dark-bg: #0C1825;
$black-bg: #1D2228;

$blue-text: #9DA8B2;
$blue-border: #1C406B;

$primary: #163353; 
$primary-text: #9BD3FF;

$input-border: #85C3F8;

$red: #E80015;

// $dark-gray: #9FAAB5 001C35




